
<hr>

<ul></ul>
<div class="container">
   <div class="row">
    <h1 style="color: aliceblue; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> <img src="https://img.icons8.com/ios-filled/16/white/rebalance-portfolio.png"/>REVIEWS</h1>
    <hr style="color: ivory;">
      <div class="col-md-4">
        <div class="card" style="width: 23rem;">
           <a routerLink="about"> <img src="https://lumiere-a.akamaihd.net/v1/images/image_659514fa.jpeg?region=0%2C0%2C540%2C810" class="card-img-top" alt="..."   > </a>
            
          </div>
      </div>
<div class="col-md-8">
    <div class="card-body">
        <h3 style="align-items: flex-end; color: ivory; font-size: xx-large;font-family: sans-serif;" >Doctor Strange in the Multiverse of Madness</h3>
        <br>
        
        
      <p class="card-text" style="color: ivory; font-size: xx-large; ">There are so many amazing movies to look forward to, and among those is the latest movie Doctor Strange in the Multiverse of Madness from Marvel. <br> ⭐️⭐️⭐️⭐️⭐️</p>
      <a routerlink="cast" style="color: ivory; font-size:xxx-large;" href="http://localhost:4200/cast">Top Cast</a>
    
    </div>
</div>

    </div>
</div>